 <%- include('../partials/header') %>
</head>
<body>
    <a href="/index"></a>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>       
        </ul>
      </div>
    </div>
  </nav>  

  <h1>Add Data</h1>
<div class="addForm">
  <form action="/addData" method="POST">
    <div class="form-floating">
      <input type="text" name="firstName" class="form-control" id="floatingInput" placeholder="First name" value="<%=currentData.firstName  %>">
      <label for="floatingInput">First Name</label>
  </div>
  <div class="form-floating">
      <input type="text" name ="lastName" class="form-control" id="floatingInput" placeholder="Last Name" value="<%=currentData.lastName%>">
      <label for="floatingInput">Last Name</label>
  </div>
  <div class ="form-floating">
      <input type="text" name = "dateOfBirth" class = "form-control" id = "floatingInput" placeholder="dateOfBirth" value="<%=currentData.dateOfBirth%>">
      <label for="floating input"> Date Of Birth</label>
  </div>
  <div class ="form-floating">
    <input type="text" name ="currentResidence" class ="form-control" id = "floatingInput" placeholder="currentResidence" value="<%=currentData.currentResidence%>">
    <label for="floating input"> Current Residence</label>
  </div>
  <div class ="form-floating">
    <input type="text" name ="nameOfSchool" class ="form-control" id = "floatingInput" placeholder="nameOfSchool" value="<%=currentData.nameOfSchool%>">
    <label for="floating input"> Name of School</label>
  </div>
  <div class ="form-floating">
    <input type="text" name ="technicalSkill" class ="form-control" id = "floatingInput" placeholder="technicalSkill" value="<%=currentData.technicalSkill%>">
    <label for="floating input"> technical Skill</label>
  </div>
  <div class ="form-floating">
    <input type="text" name ="softSkill" class ="form-control" id = "floatingInput" placeholder="softSkill" value="<%=currentData.softSkill%>">
    <label for="floating input"> Soft Skill</label>
  </div>
  <div class ="form-floating">
    <input type="text" name ="dateOfGraduation" class ="form-control" id = "floatingInput" placeholder="dateOfGraduation" value="<%=currentData.dateOfGraduation%>">
    <label for="floating input"> Date Of Graduation</label>
  </div>

  <div class="button">
      <button type ="submit" class ="btn btn-dark">save data</button>
  </div>
  </form>
</div>



<%- include('../partials/footer') %>