<%- include('partials/header') %>
</header>
<body>
    <a href="/admin"></a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">
          <a class="navbar-brand" href="/">My Resume</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li> 
              <li class="nav-item">
                  <a class="nav-link" href="/signOut">Sign Out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signIn">Sign In</a>
            </li>           
            <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="date">
          <%=currentDay%>
      </div>
      </nav>
      <div class="myinfo">
        <h1>Personal information</h1>
        <li><%=currentData.firstName%></li>
        <li><%=currentData.lastName%></li>
        <li><%=currentData.dateOfBirth%></li>
        <li><%=currentData.currentResidence%></li>
        <li><%=currentData.nameOfSchool%></li>
        <h1>technical information</h1>
        <li><%=currentData.technicalSkill%></li>
        <li><%=currentData.softSkill%></li>
        <li><%=currentData.dateOfGraduation%></li>
        <li><img src="<%=currentData.userFile%>"</li>
      </div>





      <%- include('partials/footer') %>